<div>
    <h1>Amount</h1>
    <input type="text" [(ngModel)]="paymentIntentRequest.amount"/>
</div>
<div>
    <h1>Card details</h1>
    <input type="text" placeholder="card number" [(ngModel)]="paymentIntentRequest.cardDetail.cardNumber" />
    <input type="text" placeholder="exp month (mm)" [(ngModel)]="paymentIntentRequest.cardDetail.expMonth"/>
    <input type="text" placeholder="exp year (yyyy)" [(ngModel)]="paymentIntentRequest.cardDetail.expYear"/>
    <input type="text" placeholder="cvv" [(ngModel)]="paymentIntentRequest.cardDetail.cvv"/>
    <button (click)="onSubmit()">Done</button>
</div>

<h1>Status</h1>
<h1 style="color:blue">{{status}}</h1>